{% extends 'base.html.twig' %}

{% block title %}Редактирование / {{ lesson.name}} / {{ lesson.course.name}} / StudyOn{% endblock %}

{% block body %}
    <h1>Урок: {{ lesson.name }}</h1>
    <h2>Курса: <a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></h2>

    {{ include('lesson/_form.html.twig') }}
    <div class="line mt-4 mb-4"></div>
    <a href="{{ path('lesson_show', {'id': lesson.id}) }}" class="btn btn-outline-secondary buttons-margin">Назад к уроку</a>
{% endblock %}
