{% extends 'base.html.twig' %}

{% block title %}Новый урок / {{ lesson.course.name}} / StudyOn{% endblock %}

{% block body %}
    <h1>Новый урок</h1>
    <h2>Курса: <a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></h2>

    {{ include('lesson/_form.html.twig') }}

    <div class="d-flex">
        <a href="{{ path('course_show', {'id': lesson.course.id}) }}" class="btn btn-outline-secondary buttons-margin mt-2">Назад к курсу</a>
    </div>
{% endblock %}
