{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} / {{ lesson.course }} / StudyOn{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Курс:</th>
                <td><a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course }}</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>
    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать</a>

    {{ include('lesson/_delete_form.html.twig') }}

    <hr/>
    <div>{{ lesson.content }}</div>
{% endblock %}
